---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>

  <url>
    <loc>{{ site.url }}/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>

  <url>
    <loc>{{ site.url }}/guides/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  {% for cat in categories %}
  <url>
    <loc>{{ site.url }}/{{ cat.slug }}/</loc>
    <changefreq>daily</changefreq>
    <priority>0.9</priority>
  </url>
  {% endfor %}

  {% for store in stores %}
  <url>
    <loc>{{ site.url }}/store/{{ store.slug }}/</loc>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}

  {% for deal in collections.allDeals %}
  <url>
    <loc>{{ site.url }}{{ deal.url }}</loc>
    <lastmod>{{ deal.date | isoDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  {% for post in collections.blog %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

</urlset>
